body {
  margin: 0;
  line-height: normal;
}
.rectangle-div12 {
  position: absolute;
  top: 56.23px;
  left: 101.37px;
  background-color: #adadad;
  width: 1500px;
  height: 327px;
}
.group-icon1 {
  position: absolute;
  top: 0;
  left: 105.37px;
  width: 388.7px;
  height: 445.22px;
}
.about-us-span1 {
  font-weight: 500;
}
.about-techstore-p1 {
  margin-block-start: 0;
  margin-block-end: 9px;
  font-size: 20px;
}
.career-opportunities1 {
  margin: 0;
}
.about-us-about-techstore-our-p1,
.connect-with-us1,
.help-contact-help-contact-us1 {
  position: absolute;
  top: 125.22px;
  left: 439.37px;
  display: inline-block;
}
.connect-with-us1,
.help-contact-help-contact-us1 {
  left: 735.37px;
}
.connect-with-us1 {
  left: 1101.37px;
  font-weight: 500;
}
.vector-icon3 {
  position: absolute;
  height: 5.21%;
  width: 1.81%;
  top: 31.31%;
  right: 29.35%;
  bottom: 63.48%;
  left: 68.84%;
  max-width: 100%;
  max-height: 100%;
}
.instagram-icon1 {
  position: absolute;
  top: 176.22px;
  left: 1145.37px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.vector-icon4 {
  position: absolute;
  height: 5.13%;
  width: 1.87%;
  top: 31.31%;
  right: 23.42%;
  bottom: 63.56%;
  left: 74.71%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-div13 {
  position: absolute;
  top: 258.23px;
  left: 1102.36px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #b11313;
  box-sizing: border-box;
  width: 213px;
  height: 46px;
}

.vector-icon {
  position: absolute;
  height: 5.21%;
  width: 1.81%;
  top: 31.31%;
  right: 29.35%;
  bottom: 63.48%;
  left: 68.84%;
  max-width: 100%;
  max-height: 100%;
}
.instagram-icon {
  position: absolute;
  top: 176.22px;
  left: 1145.37px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.vector-icon1 {
  position: absolute;
  height: 5.13%;
  width: 1.87%;
  top: 31.31%;
  right: 23.42%;
  bottom: 63.56%;
  left: 74.71%;
  max-width: 100%;
  max-height: 100%;
}
.about-us-span {
  font-weight: 500;
}
.about-techstore-p,
.about-us-p {
  margin-block-start: 0;
  margin-block-end: 9px;
  font-size: 20px;
}
.about-techstore-p {
  font-size: 20px;
}
.career-opportunities {
  margin: 0;
  font-size: 20px;
}
.about-us-about-techstore-our-p,
.connect-with-us,
.help-contact-help-contact-us {
  position: absolute;
  top: 125.22px;
  left: 439.37px;
  display: inline-block;
}
.connect-with-us,
.help-contact-help-contact-us {
  left: 735.37px;
}
.connect-with-us {
  left: 1101.37px;
  font-weight: 500;
}

.footer-div {
  position: absolute;
  top: 2343.78px;
  left: -105.37px;
  width: 1601.37px;
  height: 555.37px;
  font-size: 30px;
  color: #36382e;
}
.rectangle-div2 {
  position: absolute;
  top: 258.23px;
  left: 1325.36px;
  border-radius: 5px;
  background-color: #36382e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 121px;
  height: 46px;
}
.newsletter-div {
  position: absolute;
  top: 267.23px;
  left: 1337.36px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}
.rectangle-div1 {
  position: absolute;
  top: 258.23px;
  left: 1102.36px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #b11313;
  box-sizing: border-box;
  width: 213px;
  height: 46px;
}

.your-email-address1 {
  position: absolute;
  top: 267.23px;
  left: 1111.36px;
  font-size: 20px;
  font-weight: 300;
  color: #9e9e9e;
  text-align: center;
  display: inline-block;
}

.rectangle-div14 {
  position: absolute;
  top: 258.23px;
  left: 1325.36px;
  border-radius: 5px;
  background-color: #36382e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 121px;
  height: 46px;
}
.newsletter-div1 {
  position: absolute;
  top: 267.23px;
  left: 1337.36px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}
.footer-div1 {
  position: absolute;
  top: 2343.78px;
  left: -105.37px;
  width: 1601.37px;
  height: 555.37px;
  color: #36382e;
}
.line-icon1 {
  position: absolute;
  top: 32.34px;
  left: 521.34px;
  width: 343.32px;
  height: 17.32px;
}
.top-deals-div1 {
  position: absolute;
  top: 0;
  left: 629px;
  font-size: 30px;
  font-weight: 500;
  font-family: Hind Madurai;
  display: inline-block;
}
.autofull-lpl-gaming-chair1,
.iphone-13-pro-max-256-gbm11,
.samsung-ssd-sata-1tb1,
.xiaomi-redmi-note-11-pro1 {
  position: absolute;
  top: 459px;
  left: 1145px;
  font-weight: 500;
  font-family: Hind Madurai;
  color: #8d8b8b;
  display: inline-block;
}
.autofull-lpl-gaming-chair1,
.iphone-13-pro-max-256-gbm11,
.xiaomi-redmi-note-11-pro1 {
  left: 767px;
}
.autofull-lpl-gaming-chair1,
.iphone-13-pro-max-256-gbm11 {
  left: 400px;
}
.autofull-lpl-gaming-chair1 {
  left: 26px;
}
.rectangle-icon3 {
  position: absolute;
  top: 395px;
  left: 50px;
  width: 120px;
  height: 39px;
}
.rectangle-div15,
.rectangle-div16,
.rectangle-div17 {
  position: absolute;
  top: 391px;
  left: 432px;
  background-color: transparent;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  width: 120px;
  height: 39px;
}
.rectangle-div16,
.rectangle-div17 {
  left: 792px;
}
.rectangle-div17 {
  top: 388px;
  left: 1171px;
}
.price-div4,
.price-div5,
.price-div6,
.price-div7 {
  position: absolute;
  top: 406px;
  left: 0;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
}
.price-div5,
.price-div6,
.price-div7 {
  top: 400px;
  left: 378px;
}
.price-div6,
.price-div7 {
  top: 398px;
  left: 748px;
}
.price-div7 {
  left: 1123px;
}
.div4 {
  top: 406px;
  left: 68px;
  font-size: 17px;
}
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.div5 {
  top: 400px;
  left: 445px;
  font-size: 17px;
}
.div6,
.div7 {
  top: 403px;
  left: 813px;
}
.div7 {
  top: 400px;
  left: 1195px;
}
.ellipse-icon1,
.rectangle-div18 {
  position: absolute;
  top: 1876px;
  left: 228px;
  width: 110px;
  height: 110px;
}
.rectangle-div18 {
  top: 500px;
  left: 35px;
  background-color: #b11313;
  box-shadow: 0 4px 4px #911;
  width: 149px;
  height: 35px;
}
.view-product-b5 {
  position: absolute;
  top: 509px;
  left: 54px;
  display: inline-block;
  color: #fff;
}
.rectangle-div19,
.rectangle-div20,
.rectangle-div21 {
  position: absolute;
  top: 500px;
  left: 1156px;
  background-color: #b11313;
  box-shadow: 0 4px 4px #911;
  width: 149px;
  height: 35px;
}
.rectangle-div20,
.rectangle-div21 {
  left: 415px;
}
.rectangle-div21 {
  left: 775px;
}
.view-product-b7,
.view-product-b8,
.view-product-b9 {
  position: absolute;
  top: 509px;
  left: 439px;
  display: inline-block;
  color: #fff;
}
.view-product-b8,
.view-product-b9 {
  left: 797px;
}
.view-product-b9 {
  left: 1178px;
}
.rectangle-div22 {
  position: absolute;
  top: 656px;
  left: 564px;
  border-radius: 10px;
  background-color: #e5e5e5;
  border: 1px solid #ba1414;
  box-sizing: border-box;
  width: 222px;
  height: 57px;
}
.view-more-b1 {
  position: absolute;
  top: 673px;
  left: 621px;
  font-size: 20px;
  display: inline-block;
  color: #b11313;
}
.image-22-icon1 {
  position: absolute;
  top: 216px;
  left: 1146px;
  width: 169px;
  height: 135px;
  object-fit: cover;
}
.image-19-icon1,
.image-20-icon1,
.image-21-icon1 {
  position: absolute;
  top: 216px;
  left: 799px;
  width: 102px;
  height: 114px;
  object-fit: cover;
}
.image-19-icon1,
.image-20-icon1 {
  top: 137px;
  left: 9px;
  width: 201px;
  height: 234px;
}
.image-20-icon1 {
  top: 217px;
  left: 404px;
  width: 146px;
  height: 151px;
}
.topdeal-div1 {
  position: absolute;
  top: 1536px;
  left: 62px;
  width: 1315px;
  height: 713px;
  font-size: 15px;
  font-family: Montserrat;
}
.shopping-cart-div {
  position: absolute;
  top: 0;
  left: 592px;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div23 {
  position: absolute;
  top: calc(50% - 511.5px);
  left: 0;
  background-color: #f8f8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1315px;
  height: 1112px;
}
.line-icon2,
.line-icon3,
.line-icon4,
.line-icon5 {
  position: absolute;
  top: 174.5px;
  left: 55px;
  width: 1224px;
  height: 3px;
}
.line-icon3,
.line-icon4,
.line-icon5 {
  top: 448.5px;
}
.line-icon4,
.line-icon5 {
  top: 665.5px;
  left: 46px;
}
.line-icon5 {
  top: 32.34px;
  left: 504.34px;
  width: 343.32px;
  height: 17.32px;
}
.description-div,
.quantity-div,
.remove-div {
  position: absolute;
  top: 135px;
  left: 70px;
  font-weight: 500;
  color: gray;
  display: inline-block;
}
.quantity-div,
.remove-div {
  left: 985px;
}
.quantity-div {
  left: 768px;
}
.price {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.price-div8 {
  position: absolute;
  top: 135px;
  left: 1157px;
  font-weight: 500;
  color: gray;
  display: inline-block;
}
.image-23-icon {
  position: absolute;
  top: 247px;
  left: 46px;
  width: 137px;
  height: 124px;
  object-fit: cover;
}
.product-code-mhdf,
.product-code-mhtk {
  position: absolute;
  top: 289px;
  left: 205px;
  font-size: 25px;
  font-weight: 500;
  color: #484848;
  display: inline-block;
}
.product-code-mhdf {
  top: 566px;
}
.samsung-ssd-sata-1tb2,
.xiaomi-redmi-note-11-pro2 {
  position: absolute;
  top: 259px;
  left: 205px;
  font-weight: 500;
  display: inline-block;
}
.samsung-ssd-sata-1tb2 {
  top: 532px;
}
.rectangle-div24,
.rectangle-div25,
.rectangle-div26 {
  position: absolute;
  top: 272px;
  left: 701px;
  background-color: #191970;
  border: 1px solid #696969;
  box-sizing: border-box;
  width: 78px;
  height: 73px;
}
.rectangle-div25,
.rectangle-div26 {
  top: 532px;
  left: 703px;
}
.rectangle-div26 {
  top: 272px;
  left: 861px;
  background-color: #d9d9d9;
}
.rectangle-div27,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  position: absolute;
  top: 272px;
  left: 781px;
  width: 78px;
  height: 73px;
}
.rectangle-div27,
.rectangle-icon5,
.rectangle-icon6 {
  top: 532px;
}
.rectangle-div27,
.rectangle-icon6 {
  left: 861px;
}
.rectangle-div27 {
  top: 690px;
  left: 46px;
  background-color: #fff;
  border: 1px solid #696969;
  box-sizing: border-box;
  width: 255px;
  height: 101px;
}
.rectangle-div29,
.rectangle-div30,
.rectangle-div31,
.rectangle-div32 {
  position: absolute;
  top: 1023px;
  left: 909px;
  background-color: #b11313;
  border: 1px solid #696969;
  box-sizing: border-box;
  width: 314px;
  height: 138px;
}
.rectangle-div30,
.rectangle-div31,
.rectangle-div32 {
  top: 914px;
  background-color: #191970;
  height: 79px;
}
.rectangle-div31,
.rectangle-div32 {
  top: 690px;
  left: 359px;
  background-color: #fff;
  width: 255px;
  height: 101px;
}
.rectangle-div32 {
  top: 914px;
  left: 46px;
  width: 836px;
  height: 79px;
}
.discount-div {
  position: absolute;
  top: 724px;
  left: 55px;
  font-size: 25px;
  font-weight: 500;
  color: #484848;
  display: inline-block;
}
.please-enter-promo-code {
  top: 936px;
  left: 66px;
  font-size: 25px;
  color: #484848;
}

.checkout-div,
.delivery-div,
.please-enter-promo-code {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.apple-discount-div{
  position: absolute;
  font-weight: 500;

}
.delivery-div {
  top: 724px;
  left: 371px;
  font-size: 25px;
  color: #484848;
}
.apple-discount-div,
.checkout-div {
  top: 1072px;
  left: 999px;
  color: #fff;
}
.apple-discount-div {
  top: 936px;
  left: 963px;
}
.rectangle-div33,
.rectangle-div34 {
  position: absolute;
  top: 690px;
  left: 672px;
  background-color: #fff;
  border: 1px solid #696969;
  box-sizing: border-box;
  width: 255px;
  height: 101px;
}
.rectangle-div34 {
  left: 994px;
}
.rectangle-icon7,
.rectangle-icon8 {
  position: absolute;
  top: 272px;
  left: 1004px;
  width: 78px;
  height: 73px;
}
.rectangle-icon8 {
  top: 532px;
}
.subtotal-div,
.total-div {
  position: absolute;
  top: 724px;
  left: 681px;
  font-size: 25px;
  font-weight: 500;
  color: #484848;
  display: inline-block;
}
.total-div {
  top: 723px;
  left: 1010px;
}
.rectangle-div35,
.rectangle-div36,
.rectangle-div37,
.rectangle-div38,
.rectangle-div39,
.rectangle-div40 {
  position: absolute;
  top: 285px;
  left: 1129px;
  background-color: transparent;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  width: 120px;
  height: 39px;
}
.rectangle-div36,
.rectangle-div37,
.rectangle-div38,
.rectangle-div39,
.rectangle-div40 {
  top: 547px;
}
.rectangle-div37,
.rectangle-div38,
.rectangle-div39,
.rectangle-div40 {
  top: 724px;
  left: 173px;
}
.rectangle-div38,
.rectangle-div39,
.rectangle-div40 {
  left: 486px;
}
.rectangle-div39,
.rectangle-div40 {
  left: 799px;
}
.rectangle-div40 {
  top: 722px;
  left: 1116px;
}
.div8,
.div9 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.div8 {
  top: 554px;
  left: 1142px;
  font-size: 17px;
  font-family: Montserrat;
}
.div9 {
  top: 733px;
  left: 227px;
}
.div10,
.div11,
.div12,
.div9 {
  font-size: 17px;
  font-family: Montserrat;
}
.div10 {
  position: absolute;
  top: 733px;
  left: 517px;
  font-weight: 500;
  display: inline-block;
}
.div11,
.div12 {
  top: 731px;
}
.div11 {
  position: absolute;
  left: 822px;
  font-weight: 500;
  display: inline-block;
}
.div12 {
  left: 1129px;
}
.div12,
.div13,
.div14,
.div15,
.x-div,
.x-div1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.div13 {
  top: 294px;
  left: 1142px;
  font-size: 17px;
  font-family: Montserrat;
}
.div14,
.div15,
.x-div,
.x-div1 {
  top: 288px;
  left: 1035px;
}
.div14,
.div15,
.x-div1 {
  top: 546px;
}
.div14,
.div15 {
  top: 288px;
  left: 732px;
  color: #fff;
}
.div15 {
  top: 548px;
  left: 734px;
}
.div16 {
  top: 288px;
  left: 894px;
  color: #fff;
}
.div16,
.div17,
.div18,
.div19 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.div17 {
  top: 548px;
  left: 895px;
  color: #fff;
}
.div18,
.div19 {
  top: 288px;
  left: 814px;
}
.div19 {
  top: 546px;
}
.content-div1 {
  position: absolute;
  top: 258px;
  left: 51px;
  width: 1315px;
  height: 1201px;
}
.logo-icon1,
.techstore-cart1 {
  position: absolute;
  top: 0;
  left: 0;
}
.logo-icon1 {
  width: 200px;
  height: 179px;
  object-fit: cover;
}
.techstore-cart1 {
  font-size: 30px;
  display: inline-block;
  width: 257.58px;
  height: 45px;
  font-family: Montserrat;
}
.line-div1,
.rectangle-div41 {
  position: absolute;
  box-sizing: border-box;
}
.rectangle-div41 {
  top: 5.5px;
  left: 450.52px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #ba1414;
  width: 587.54px;
  height: 38.92px;
}
.line-div1 {
  top: 5.08px;
  left: 640.83px;
  border-right: 2px solid #ba1414;
  width: 2px;
  height: 40.92px;
}
.search-products-div1 {
  position: absolute;
  top: 15.3px;
  left: 1029.84px;
  
  display: inline-block;
  padding: 0 60px;
  width: 930.67px;
  height: 25.54px;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
}
.all-categories-div {
  position: absolute;
  top: 14.3px;
  left: 929.84px;
  color: #000;
  display: inline-block;
  width: 93.67px;
  height: 25.54px;
}
.search-products-div1 {
  left: 457.96px;
  font-size: 14px;
  color: #6c6c6c;
  width: 104.31px;
  height: 23.11px;
}
.text-box-search-div1{
  position: absolute;
  top: 14.3px;
  left: 650px;
  color: #000;
  display: inline-block;
  width: 93.67px;
  height: 25.54px;
}
.text-box-search-div1 input{
  display: inline-block;
	width: 260%;
	padding: 0 10px;
	color: rgb(0, 0, 0);
	background: none;
	font-size: 12px;
	border: 1px solid #fff;
}
.please-enter-promo-code input{
  display: inline-block;
	width: 250%;
	padding: 0 20px;
	color: rgb(0, 0, 0);
	background: none;
	font-size: 20px;
	border: 1px solid #fff;
}
.vector-icon5 {
  position: absolute;
  height: 55.15%;
  width: 1.66%;
  top: 37.84%;
  right: 10.11%;
  bottom: 7.01%;
  left: 88.22%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-icon9 {
  position: absolute;
  top: 5.5px;
  left: 1063.76px;
  border-radius: 5px;
  width: 151.14px;
  height: 38.92px;
}
.customer-icon1 {
  position: absolute;
  top: 9.9px;
  left: 1072.26px;
  width: 24.48px;
  height: 27.97px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 56.23px;
  left: 101.37px;
  background-color: #adadad;
  width: 1500px;
  height: 327px;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 105.37px;
  width: 388.7px;
  height: 445.22px;
}
.my-account-div1 {
  position: absolute;
  top: 14.3px;
  left: 1111.58px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 85.15px;
  height: 25.54px;
}
.navbar-div1 {
  position: absolute;
  top: 49px;
  left: 133.1px;
  width: 1214.9px;
  height: 45px;
  font-size: 15px;
  color: #ba1414;
}
.image-23-icon1 {
  position: absolute;
  top: 778px;
  left: 103px;
  width: 137px;
  height: 106px;
  object-fit: cover;
}
.desktop-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2789px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: Hind Madurai;
}
a {
  text-decoration: none;
}
.about-us-about-techstore-our-p a{
  color: #36382e
}
.help-contact-help-contact-us a{
  color: #36382e
}
.your-email-address input{
  display: inline-block;
	width: 110%;
	padding: 0 5px;
	color: rgb(0, 0, 0);
	background: none;
	font-size: 12px;
	border: 1px solid #fff;
}
.your-email-address {
  position: absolute;
  top: 267.23px;
  left: 1111.36px;
  font-size: 20px;
  font-weight: 300;
  color: #9e9e9e;
  text-align: center;
  display: inline-block;
}
.content-div1 a{
  color: #ff0000
}