.Hvae38 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
body, html {
    font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
    color: rgba(0,0,0,.8);
    line-height: 1.2;
}

body {
    font-size: .875rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
:root {
    --nc-primary: #ee4d2d;
    --nc-primary-bg: #fef6f5;
    --nc-primary-gradient: linear-gradient(#ee4d2d,#ff7337);
    --nc-secondary-blue: #0046ab;
    --nc-secondary-yellow: #eda500;
    --nc-secondary-green: #26aa99;
    --nc-error: #ee2c4a;
    --nc-error-bg: #fff4f4;
    --nc-caution: #f69113;
    --nc-caution-bg: #fff8e4;
    --nc-success: #30b566;
    --nc-success-bg: #f7fffe;
    --nc-text-primary: rgba(0,0,0,.87);
    --nc-text-primary-o: #212121;
    --nc-text-secondary: rgba(0,0,0,.65);
    --nc-text-secondary-o: #595959;
    --nc-text-tertiary: rgba(0,0,0,.54);
    --nc-text-tertiary-o: #757575;
    --nc-text-link: #0088ff;
    --nc-util-mask: rgba(0,0,0,.4);
    --nc-util-disabled: rgba(0,0,0,.26);
    --nc-util-disabled-o: #bdbdbd;
    --nc-util-line: rgba(0,0,0,.09);
    --nc-util-line-o: #e8e8e8;
    --nc-util-bg: #f5f5f5;
    --nc-util-placeholder: #fafafa;
    --nc-util-pressed: rgba(0,0,0,.05);
    --nt-font-regular-f: -apple-system,'HelveticaNeue','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif;
    --nt-font-regular-w: 400;
    --nt-font-medium-f: -apple-system,'HelveticaNeue-Medium','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif;
    --nt-font-medium-w: 500;
    --nt-font-bold-f: -apple-system,'HelveticaNeue-Bold','Helvetica Neue','Roboto','Droid Sans','Arial Bold',Arial,sans-serif;
    --nt-font-bold-w: 700;
    --nt-size-foot: .625rem;
    --nt-size-foot-l: .75rem;
    --nt-size-foot-lp: .75rem;
    --nt-size-foot-t: 1rem;
    --nt-size-foot-tp: 1rem;
    --nt-size-small: .75rem;
    --nt-size-small-l: .875rem;
    --nt-size-small-lp: 1.25rem;
    --nt-size-small-t: 1.125rem;
    --nt-size-small-tp: 1.125rem;
    --nt-size-normal: .875rem;
    --nt-size-normal-l: 1rem;
    --nt-size-normal-lp: 1.25rem;
    --nt-size-normal-t: 1.375rem;
    --nt-size-normal-tp: 1.375rem;
    --nt-size-large: 1rem;
    --nt-size-large-l: 1.25rem;
    --nt-size-large-lp: 1.375rem;
    --nt-size-large-t: 1.5rem;
    --nt-size-large-tp: 1.5rem;
    --nt-size-title: 1.25rem;
    --nt-size-title-l: 1.5rem;
    --nt-size-title-lp: 1.5rem;
    --nt-size-title-t: 1.875rem;
    --nt-size-title-tp: 1.875rem;
    --ns-a: .25rem;
    --ns-b: .5rem;
    --ns-c: .75rem;
    --ns-d: 1rem;
    --ns-e: 1.25rem;
    --ns-f: 1.5rem;
    --ns-g: 2.5rem;
    --ne-depth6: 0 0 .375rem rgba(0,0,0,.06);
    --ne-depth9: 0 0 .5625rem rgba(0,0,0,.12);
    --nr-normal: .125rem;
    --nr-overlay: .25rem;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}