doctype html
//if lt IE 7 
//if IE 7 
//if IE 8 
//if IE 9 
// [if (gt IE 9)|!(IE)] <!
// <![endif]
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  title Checkout
  // Standard Favicon
  link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
  // For iPhone 4 Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/apple-touch-icon-114x114-precomposed.png')
  // For iPad:
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/apple-touch-icon-72x72-precomposed.png')
  // For iPhone:
  link(rel='apple-touch-icon-precomposed', href='/images/apple-touch-icon-57x57-precomposed.png')
  // Custom - Theme CSS
  link(rel='stylesheet', type='text/css', href='/styles/style.css')
  //if lt IE 9
    script(src='js/html5/respond.min.js')
// Loader
#site-loader.load-complete
  .loader
    .loader-inner.ball-clip-rotate
      div
// Loader /-
// Header
header.header-main.container-fluid.no-padding
  // SidePanel
  #slidepanel
    // Top Header
    .top-header.container-fluid.no-padding
      // Container
    // Top Header /-
    // Middel Header
    .middle-header.container-fluid.no-padding
      .container
        .row
          .col-md-5.col-sm-4.col-xs-4
            .logo-block
              a(href='/')
                img(src='images/logo-1.png', alt='logo', height='200', width='200')
          .header-info
            .col-md-5.col-sm-6.col-xs-6
              .input-group
                .input-group-btn
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Category
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                // /btn-group
                input.form-control(type='text', placeholder='Search...')
                span.input-group-btn
                  button.btn.btn-search(type='button', title='Search')
                    i.fa.fa-search
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search
                span.input-group-btn
                  button.btn.btn-account(type='button')
                    img(src='images/profile.png', height='5', width='16')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;My Account
                    span.fa.fa-account
              // /input-group
            .col-md-2.col-sm-2.col-xs-2.add-to-cart
              ul.cart
                li
                  a#cart.btn.dropdown-toggle(aria-expanded='true', aria-haspopup='true', data-toggle='dropdown', title='Add To Cart', href='#')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    h3 Shopping Cart
                    h5
                      | (02) Items - 
                      span 23.790.000&dstrok;
                  ul.dropdown-menu.no-padding
                    li.mini_cart_item
                      a.remove(title='Remove this item', href='#') &times;
                      a.shop-thumbnail(href='#')
                        img.attachment-shop_thumbnail(width='60', height='60', alt='poster_2_up', src='images/product-detail-1.jpg')
                      span.quantity
                        | 1 &times; 
                        span.amount 23.790.000&dstrok;
                    li.mini_cart_item
                      a.remove(title='Remove this item', href='#') &times;
                      a.shop-thumbnail(href='#')
                        img.attachment-shop_thumbnail(width='60', height='60', alt='poster_2_up', src='images/product-6.jpg')
                      span.quantity
                        | 1 &times; 
                        span.amount 34,990,000&#x20AB;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.button
                      a(href='cart.html', title='View Cart') View Cart
                      a(href='checkout.html', title='Check Out') Check out
          // Row /-
        // Container /-
      // Middel Header /-
    // Menu Block
    .menu-block.menu-block-section.container-fluid.no-padding
      // Container
      .container
        nav.navbar.ow-navigation
          #loginpanel.desktop-hide
            #toggle.right
              a#slideit(href='#slidepanel')
                i.fo-icons.fa.fa-inbox
              a#closeit(href='#slidepanel')
                i.fo-icons.fa.fa-close
          .navbar-header
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.text-logo.desktop-hide(href='index.html')
              img(src='images/logo-1.png', alt='logo', height='150', width='150')
          #navbar.navbar-collapse.collapse.navbar-right
            ul.nav.navbar-nav.menubar
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='/') Home
                i.ddl-switch.fa.fa-angle-down
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='/product') Laptop
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='1', href='#') Laptop Asus
                  li
                    a(title='2', href='#') Laptop Acer
                  li
                    a(title='2', href='#') Laptop Dell
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') PC
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') PC V&abreve;n Ph&ograve;ng
                  li
                    a(title='Shop 2', href='#') PC &Dstrok;&#x1ED3; H&#x1ECD;a
                  li
                    a(title='Shop 2', href='#') PC Gaming
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') M&agrave;n h&igrave;nh
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') M&agrave;n h&igrave;nh &Dstrok;&#x1ED3; H&#x1ECD;a
                  li
                    a(title='Shop 2', href='#') M&agrave;n h&igrave;nh Gaming
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') Linh Ki&#x1EC7;n
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') CPU
                  li
                    a(title='Shop 2', href='#') MainBoard
                  li
                    a(title='Shop 2', href='#') RAM
                  li
                    a(title='Shop 2', href='#') SSD
                  li
                    a(title='Shop 2', href='#') HDD
                  li
                    a(title='Shop 2', href='#') Case M&aacute;y t&iacute;nh
                  li
                    a(title='Shop 2', href='#') VGA
                  li
                    a(title='Shop 2', href='#') Qu&#x1EA1;t t&#x1EA3;n nhi&#x1EC7;t
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') Apple
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') Macbook
                  li
                    a(title='Shop 2', href='#') Iphone
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Latest News', href='#') Tin T&#x1EE9;c
              li
                a(title='Contact Us', href='#') Contact Us
        // Navigation /-
      // Container /-
    // Menu Block /-
// Header /-
main.site-main.page-spacing
  // Checkout
  .woocommerce-checkout
    .section-padding
    .container
      .woocommerce.row
        form.checkout.woocommerce-checkout.row(method='post', name='checkout')
          .col-md-6.col-sm-6.col-xs-12.woocommerce-billing-fields
            h4 Customer Information
            .col-md-6.col-sm-6.col-xs-12.no-left-padding
              input.form-control(type='text', placeholder='First Name')
            .col-md-6.col-sm-6.col-xs-12.no-right-padding
              input.form-control(type='text', placeholder='Last Name')
            .col-md-6.col-sm-6.col-xs-12.no-left-padding
              input.form-control(type='text', placeholder='Email')
            .col-md-6.col-sm-6.col-xs-12.no-right-padding
              input.form-control(type='text', placeholder='Phone')
            .col-md-12.col-sm-12.col-xs-12.no-padding
              input.form-control(type='text', placeholder='Address')
            .col-md-6.col-sm-6.col-xs-12.no-left-padding
              select
                option Province/City
                option H&#x1ED3; Ch&iacute; Minh
                option H&agrave; N&#x1ED9;i
                option Gia Lai
                option Cao B&#x1EB1;ng
                option Ph&uacute; Y&ecirc;n
                option B&igrave;nh &Dstrok;&#x1ECB;nh
                option Lai Ch&acirc;u
            .col-md-6.col-sm-6.col-xs-12.no-right-padding
              select
                option District
                option Qu&#x1EAD;n 1
                option Qu&#x1EAD;n 2
                option Qu&#x1EAD;n 3
                option Qu&#x1EAD;n 4
                option Qu&#x1EAD;n 5
                option Qu&#x1EAD;n 6
                option Qu&#x1EAD;n 7
                option Qu&#x1EAD;n 8
                option Qu&#x1EAD;n 9
                option Qu&#x1EAD;n 10
                option Qu&#x1EAD;n 11
                option Qu&#x1EAD;n 12
                option Qu&#x1EAD;n B&igrave;nh T&acirc;n
                option Qu&#x1EAD;n B&igrave;nh Th&#x1EA1;nh
                option Qu&#x1EAD;n T&acirc;n Ph&uacute;
                option Qu&#x1EAD;n T&acirc;n B&igrave;nh
                option Qu&#x1EAD;n G&ograve; V&#x1EA5;p
            .col-md-12.col-sm-12.col-xs-12.no-padding
              input.form-control(type='text', placeholder='Message (optional)')
          .col-md-6.col-sm-6.col-xs-12.woocommerce-shipping-fields
            h4 Delivery Address
            .col-md-12.col-sm-12.col-xs-12.no-padding
              input.form-control(type='text', placeholder='Please Enter your shipping address here . . .')
          .cart-main.col-md-12.col-sm-12.col-xs-12
            h4 Your Order Summary
            table.shop_table.cart
              thead
                tr
                  th.product-name(colspan='2') Products
                  th.product-price Price
                  th.product-quantity Quantity
                  th.product-subtotal Total
                  th.product-remove Remove
              tbody
                tr.cart_item
                  td.product-thumbnail(data-title='Product')
                    a(title='Product Thumbnail', href='')
                      img.attachment-shop_thumbnail.wp-post-image(src='images/product-5.jpg', alt='cart')
                  td.product-name
                    a(title='Product Name', href='#')
                      | Laptop Gaming Acer Aspire 7 A715-42G-R05G GTX 1650 4GB Ryzen 5 5500U 8GB 512GB 15.6 FHD 144Hz IPS Win 11
                  td.product-price(data-title='Price')
                    span.amount 15,990,000 &#x20AB;
                  td.product-quantity(data-title='Quantity')
                    .quantity
                      input.qtyminus.btn(type='button', value='-', data-field='quantity1')
                      input.qty.btn(type='text', name='quantity1', value='0')
                      input.qtyplus.btn(type='button', value='+', data-field='quantity1')
                  td.product-subtotal(data-title='Total')
                    span.amount 15,990,000 &#x20AB;
                  td.product-remove
                    a.remove(title='Remove this item', href='')
                      img(src='images/close.png', alt='close')
                tr.cart_item
                  td.product-thumbnail(data-title='Product')
                    a(title='Product Thumbnail', href='')
                      img.attachment-shop_thumbnail.wp-post-image(src='images/product-6.jpg', alt='cart')
                  td.product-name
                    a(title='Product Name', href='#')
                      | Laptop MSI GP66 Leopard 11UE-643VN (i7-11800H; 16GB; 512GB SSD; RTX 3060/6GB; 15.6&quot; QHD; Win10; &Dstrok;en)
                  td.product-price(data-title='Price')
                    span.amount 34,990,000 &#x20AB;
                  td.product-quantity(data-title='Quantity')
                    .quantity
                      input.qtyminus.btn(type='button', value='-', data-field='quantity2')
                      input.qty.btn(type='text', name='quantity2', value='0')
                      input.qtyplus.btn(type='button', value='+', data-field='quantity2')
                  td.product-subtotal(data-title='Total')
                    span.amount 34,990,000 &#x20AB;
                  td.product-remove
                    a.remove(title='Remove this item', href='')
                      img(src='images/close.png', alt='close')
                tr.cart_item
                  td.product-thumbnail(data-title='Product')
                    a(title='Product Thumbnail', href='')
                      img.attachment-shop_thumbnail.wp-post-image(src='images/product-7.jpg', alt='cart')
                  td.product-name
                    a(title='Product Name', href='#')
                      | Laptop Gaming Asus TUF A15 FA507RM-HN018W RTX 3060 6GB AMD Ryzen 7 6800H 8GB 512GB 15.6&Prime; FHD IPS 144Hz
                  td.product-price(data-title='Price')
                    span.amount 28,490,000 &#x20AB;
                  td.product-quantity(data-title='Quantity')
                    .quantity
                      input.qtyminus.btn(type='button', value='-', data-field='quantity3')
                      input.qty.btn(type='text', name='quantity3', value='0')
                      input.qtyplus.btn(type='button', value='+', data-field='quantity3')
                  td.product-subtotal(data-title='Total')
                    span.amount 28,490,000 &#x20AB;
                  td.product-remove
                    a.remove(title='Remove this item', href='')
                      img(src='images/close.png', alt='close')
          .col-md-12.col-sm-12.col-xs-12
            .cart_totals
              .totals
                h3
                  | Total
                  p
                  p Shipping
                h4
                  | 79,470,000 &dstrok;
                  p
                  p FreeShip
          .col-md-12.col-sm-12.col-xs-12.woocommerce-checkout-payment
            h4 Payment Methods
            .col-md-12.col-sm-12.col-xs-12.no-padding
              input(type='checkbox')
              label Direct Bank Transfer
            p Please transfer money in advance according to the information below:
            p PHUNG NGHIA PHUC
            p 277 Nguy&#x1EC5;n V&abreve;n C&#x1EEB; Ph&#x1B0;&#x1EDD;ng 4, Qu&#x1EAD;n 5, Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh
            p Techcombank - Chi nh&aacute;nh Nam S&agrave;i G&ograve;n: 19036662221121
            .col-md-12.col-sm-12.col-xs-12.no-padding
              input(type='checkbox')
              label COD
            p Payment on receipt of goods.
          .place-order.col-md-12.col-sm-12.col-xs-12
            input(type='submit', value='Confirm')
    .section-padding
  // Checkout /-
// Footer Main
footer.footer-main.container-fluid.no-padding
  .container
    .row
      .footer-header
      // Widget About
      aside.col-md-4.col-sm-6.col-xs-6.ftr-widget.about-widget
        h3 About The Store
        p TechStore created by student group 3 at Ho Chi Minh University of Science 
        p
          i.fa.fa-phone(aria-hidden='true')
          a(title='phone', href='tel: +84355881421') 0355881421
        p
          i.fa.fa-envelope-o(aria-hidden='true')
          a(title='@gmail', href='mailto:pnphuc20@clc.fitus.edu.vn') pnphuc20@clc.fitus.edu.vn
        p
          i.fa.fa-map-marker(aria-hidden='true')
          a(title='map', href='https://bom.so/7RriJJ') 277 Nguy&#x1EC5;n V&abreve;n C&#x1EEB; Ph&#x1B0;&#x1EDD;ng 4, Qu&#x1EAD;n 5, Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh
      // Widget About /-
      // Widget Links
      aside.col-md-2.col-sm-6.col-xs-6.ftr-widget.link-widget
        h3 Useful links
        ul
          li
            a(href='#', title='Abou Us') About Us
          li
            a(href='#', title='Our Products') Our Products
          li
            a(href='#', title='Customer Support') Customer Support
          li
            a(href='#', title='Our Sitemap') Our Sitemap
          li
            a(href='#', title='Contact Us') Contact Us
      // Widget Links /-
      // Widget Contact
      aside.col-md-3.col-sm-6.col-xs-6.ftr-widget.contact-widget
        h3 Contact Us
        ul
          li
            a(href='#', title='Product Recall') Product Recall
          li
            a(href='#', title='Gift Vouchers') Gift Vouchers
          li
            a(href='#', title='Returns & Exchange') Returns &amp; Exchange
          li
            a(href='#', title='Shipping Options') Shipping Options
          li
            a(href='#', title='Help & FAQs') Help &amp; FAQs
      // Widget Contact /-
      // Widget Isnstagram
      aside.col-md-3.col-sm-6.col-xs-6.ftr-widget.instagram-widget
        h3 Connect with us
        ul
          .footer-social
            ul
              li
                a(href='#', title='Facebook')
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a(href='#', title='Twitter')
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a(href='#', title='Google-plus')
                  i.fa.fa-google-plus(aria-hidden='true')
              li
                a(href='#', title='linkedin')
                  i.fa.fa-linkedin(aria-hidden='true')
      // Widget Newsletter /-
// Footer Main /-
// Bottom Footer
.bottom-footer.container-fluid.no-padding
  .container
    .footer-content
      .footer-copyright
        p &copy; Copyright 2022 - All rights reserved
// Bottom Footer /-
// JQuery v1.11.3
script(src='js/jquery.min.js')
// Library - Js
script(src='libraries/lib.js')
// Bootstrap JS File v3.3.5
script(src='libraries/jquery.countdown.min.js')
script(src='libraries/lightslider-master/lightslider.js')
script(src='libraries/slick/slick.min.js')
// Library - Google Map API
script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
// Library - Theme JS
script(src='js/functions.js')
