html
    head 
        meta(charset='UTF-8')
        title TechStore | Home
        link(rel="stylesheet",
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css",
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
        crossorigin="anonymous")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="shortcut icon", type="image/x-icon", href="/images/logo.png")
        link(rel="stylesheet", href="/styles/home-styles.css")
    body
      nav.flex-div
        a.nav-left(href='/')
          img.logo-web(src='/images/logo.png', alt='')
        .nav-middle.flex-div
          form(action="/product/items/search", method='GET').search-box.flex-div
            input(type='text', name='q', placeholder='Tìm kiếm sản phẩm')
            button
              img.search-icon(src='/images/search.svg.png', alt='')
        
        if !user
          .nav-right.flex-div
            button.login-button
              a(href='user/login') Đăng Nhập
            button.signup-button 
              a(href='user/signup') Đăng Ký
        else
          .flex-div
            a#cart(href='/cart/' + user.username)
              img#cart-icon(src='/images/cart.png')
            a#username(href='/user/' + user.username)
              img#avatar(src='/' + user.avatar)
      .header-content.row
        .col-3
          h1 Sản Phẩm Có Giá Cực Hot!
          h3 Giảm giá lên đến 50%
          a(href="#").btn Xem ngay
        .col-3
          img(src="/images/macbook.jpeg")
        .col-3
          img(src="/images/macbookair.jpeg") 

      .product 
        .small-container
          h2.product-title Các Sản Phẩm Bán Chạy
          .row 
            .col-4
              img(src="/images/product-01.jpeg")
              h4 Redmi Note 11S
              p Giá: 6.280.000đ
              a(href="#").btn Mua ngay
            .col-4
              img(src="/images/product-02.jpeg")
              h4 iPhone 13 Pro Max
              p Giá: 28.290.000đ
              a(href="#").btn Mua ngay
            .col-4
              img(src="/images/product-03.jpeg")
              h4 Samsung Galaxy A23
              p Giá: 5.190.000đ
              a(href="#").btn Mua ngay
            .col-4
              img(src="/images/product-04.jpeg")
              h4 Galaxy Z Fold4
              p Giá: 40.990.000đ
              a(href="#").btn Mua ngay
          if !user 
            a(href="/product/items") Xem tất cả
          else
            a(href="/product/items/" + user.username) Xem tất cả

      .offer
        .small-container
          .row
            .col-2
              img(src="/images/iphone-11-offer.jpeg")
            .col-2
              p Độc Quyền Có Sẵn Trên TechStore
              h1 iPhone 11 64GB
              small iPhone 11 hoàn toàn giữ nguyên kiểu dáng và màn hình giống như iPhone XR. Nó sử dụng cùng một màn hình IPS LCD 6,1 "với 326ppi và tai thỏ ở trên chứa công nghệ Face ID. Các thông số kỹ thuật của màn hình không thay đổi - cùng độ tương phản, độ sáng, Haptic Touch và không thay đổi.
              a(href="#")#small-btn.btn Xem ngay
          // Site footer

    footer.site-footer
      .container
        .row
          .col-sm-12.col-md-6
            h6 Về Chúng Tôi
            p.text-justify
              | Nhóm 03 
              i Môn Nhập Môn Công Nghệ Phầm Mềm Khóa 2020
              |  Khóa học này là một trong những khóa học đầu tiên về kỹ thuật phần mềm. Khóa học này giới thiệu các khái niệm cơ bản, các nguyên tắc, thực hành, phương pháp và công cụ trong kỹ thuật phần mềm. Đây là Project Cuối Kì được Nhóm 3 chúng em thực hiện sau khóa học. Em xin cám ơn các Giảng Viên, Trợ Giảng đã giúp đỡ chúng em hoàn thành đồ án này.
          .col-xs-6.col-md-3
            h6 Thể Loại Sản Phẩm
            ul.footer-links
              li
                a(href='#') Điện Thoại Thông Minh
              li
                a(href='#') Laptop
              li
                a(href='#') TiVi
              li
                a(href='#') Tủ Lạnh
              li
                a(href='#') Bàn Phím
              li
                a(href='#') Chuột
          .col-xs-6.col-md-3
            h6 Liên Hệ Với Chúng Tôi  
            ul.footer-links
              li
                a(href='#') Thông Tin Nhóm
              li
                a(href='#') Liên Hệ Facebook
              li
                a(href='#') Liên Hệ Instagram
              li
                a(href='#') Liên Hệ Github
              li
                a(href='#') Chính sách bảo mật
              li
                a(href='#') Sơ đồ trang web

        hr
      .container
        .row
          .col-md-8.col-sm-6.col-xs-12
            p.copyright-text
              | Copyright &copy; 2022 All Rights Reserved by Group 03

          
