doctype html
//if lt IE 7 
//if IE 7 
//if IE 8 
//if IE 9 
// [if (gt IE 9)|!(IE)] <!
// <![endif]
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  title
    | Laptop Asus VivoBook Pro 14X M7400QC-KM013W RTX 3050 4G
    | Ryzen 5 5600H 16GB 512GB 14&Prime; 2.8K OLED Win 11 Black
  // Standard Favicon
  link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
  // For iPhone 4 Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/apple-touch-icon-114x114-precomposed.png')
  // For iPad:
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/apple-touch-icon-72x72-precomposed.png')
  // For iPhone:
  link(rel='apple-touch-icon-precomposed', href='/images/apple-touch-icon-57x57-precomposed.png')
  // Custom - Theme CSS
  link(rel='stylesheet', type='text/css', href='/styles/style.css')
  //if lt IE 9
    script(src='js/html5/respond.min.js')
// Loader
#site-loader.load-complete
  .loader
    .loader-inner.ball-clip-rotate
      div
// Loader /-
// Header
header.header-main.container-fluid.no-padding
  // SidePanel
  #slidepanel
    // Middel Header
    .middle-header.container-fluid.no-padding
      .container
        .row
          .col-md-5.col-sm-4.col-xs-4
            .logo-block
              a(href='/')
                img(src='images/logo-1.png', alt='logo', height='200', width='200')
          .header-info
            .col-md-5.col-sm-6.col-xs-6
              .input-group
                .input-group-btn
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Category
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                // /btn-group
                input.form-control(type='text', placeholder='Search...')
                span.input-group-btn
                  button.btn.btn-search(type='button', title='Search')
                    i.fa.fa-search
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Search
                span.input-group-btn
                  button.btn.btn-account(type='button')
                    img(src='images/profile.png', height='5', width='16')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;My Account
                    span.fa.fa-account
              // /input-group
            .col-md-2.col-sm-2.col-xs-2.add-to-cart
              ul.cart
                li
                  a#cart.btn.dropdown-toggle(aria-expanded='true', aria-haspopup='true', data-toggle='dropdown', title='Add To Cart', href='#')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    h3 Shopping Cart
                    h5
                      | (02) Items - 
                      span 23.790.000&dstrok;
                  ul.dropdown-menu.no-padding
                    li.mini_cart_item
                      a.remove(title='Remove this item', href='#') &times;
                      a.shop-thumbnail(href='#')
                        img.attachment-shop_thumbnail(width='60', height='60', alt='poster_2_up', src='images/product-detail-1.jpg')
                      span.quantity
                        | 1 &times; 
                        span.amount 23.790.000&dstrok;
                    li.mini_cart_item
                      a.remove(title='Remove this item', href='#') &times;
                      a.shop-thumbnail(href='#')
                        img.attachment-shop_thumbnail(width='60', height='60', alt='poster_2_up', src='images/product-6.jpg')
                      span.quantity
                        | 1 &times; 
                        span.amount 34,990,000&#x20AB;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.button
                      a(href='cart.html', title='View Cart') View Cart
                      a(href='checkout.html', title='Check Out') Check out
          // Row /-
        // Container /-
      // Middel Header /-
    // Menu Block
    .menu-block.menu-block-section.container-fluid.no-padding
      // Container
      .container
        nav.navbar.ow-navigation
          #loginpanel.desktop-hide
            #toggle.right
              a#slideit(href='#slidepanel')
                i.fo-icons.fa.fa-inbox
              a#closeit(href='#slidepanel')
                i.fo-icons.fa.fa-close
          .navbar-header
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.text-logo.desktop-hide(href='index.html')
              img(src='images/logo-1.png', alt='logo', height='150', width='150')
          #navbar.navbar-collapse.collapse.navbar-right
            ul.nav.navbar-nav.menubar
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='index.html') Home
                i.ddl-switch.fa.fa-angle-down
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') Laptop
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='1', href='#') Laptop Asus
                  li
                    a(title='2', href='#') Laptop Acer
                  li
                    a(title='2', href='#') Laptop Dell
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') PC
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') PC V&abreve;n Ph&ograve;ng
                  li
                    a(title='Shop 2', href='#') PC &Dstrok;&#x1ED3; H&#x1ECD;a
                  li
                    a(title='Shop 2', href='#') PC Gaming
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') M&agrave;n h&igrave;nh
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') M&agrave;n h&igrave;nh &Dstrok;&#x1ED3; H&#x1ECD;a
                  li
                    a(title='Shop 2', href='#') M&agrave;n h&igrave;nh Gaming
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') Linh Ki&#x1EC7;n
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') CPU
                  li
                    a(title='Shop 2', href='#') MainBoard
                  li
                    a(title='Shop 2', href='#') RAM
                  li
                    a(title='Shop 2', href='#') SSD
                  li
                    a(title='Shop 2', href='#') HDD
                  li
                    a(title='Shop 2', href='#') Case M&aacute;y t&iacute;nh
                  li
                    a(title='Shop 2', href='#') VGA
                  li
                    a(title='Shop 2', href='#') Qu&#x1EA1;t t&#x1EA3;n nhi&#x1EC7;t
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Home', href='#') Apple
                i.ddl-switch.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(title='Shop 2', href='#') Macbook
                  li
                    a(title='Shop 2', href='#') Iphone
              li.dropdown
                a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', title='Latest News', href='#') Tin T&#x1EE9;c
              li
                a(title='Contact Us', href='#') Contact Us
        // Navigation /-
      // Container /-
    // Menu Block /-
// Header /-
main.site-main.page-spacing
  // Page Banner
  .page-banner.product-detail.container-fluid.no-padding
  // Page Banner /-
  // Product Detail
  .Product-detail.container-fluid.no-padding.woocommerce
    .section-padding
      | Laptop Asus VivoBook Pro 14X M7400QC-KM013W RTX 3050 4G
      p Ryzen 5 5600H 16GB 512GB 14&Prime; 2.8K OLED Win 11 Black
      .woocommerce-product-rating
        .star-rating(title='Rated 3.25 out of 5')
          span
            strong.rating 3.25
            |  out of 
            span 5
            |  based on
            span.rating 4
            |  customer ratings
        a.woocommerce-review-link(href='#reviews')
          span.count
          |  2 Reviews
    // Container
    .container
      .type-product.col-md-6.col-sm-7.col-xs-12.product
        .images
          a.woocommerce-main-image.zoom(href='images/product-detail-1.jpg', title='Product Image')
            img(src='images/product-detail-1.jpg', alt='product-detail-1', width='473', height='490')
          .thumbnails
            a.zoom(title='Product Image', href='images/product-detail-2.png')
              img(src='images/product-detail-2.png', alt='product-detail-2')
            a.zoom(title='Product Image', href='images/product-detail-3.png')
              img(src='images/product-detail-3.png', alt='product-detail-3')
            a.zoom(title='Product Image', href='images/product-detail-4.png')
              img(src='images/product-detail-4.png', alt='product-detail-4')
            a.zoom(title='Product Image', href='images/product-detail-5.png')
              img(src='images/product-detail-5.png', alt='product-detail-5')
            a.zoom(title='Product Image', href='images/product-detail-6.png')
              img(src='images/product-detail-6.png', alt='product-detail-6')
      .col-md-6.col-sm-5.col-xs-12
        .summary.entry-summary
          h1.product_title.entry-title Th&ocirc;ng tin s&#x1EA3;n ph&#x1EA9;m
          .woocommerce-product-rating
            .star-rating(title='Rated 3.25 out of 5')
              span
                strong.rating 3.25
                |  out of 
                span 5
                |  based on
                span.rating 4
                |  customer ratings
            a.woocommerce-review-link(href='#reviews')
              span.count
              |  2 Reviews
            a.woocommerce-add-link(href='#reviews')
              span.count
              | Add Your Review
          h4
            | T&igrave;nh Tr&#x1EA1;ng: 
            span C&ograve;n H&agrave;ng
          p.price
            span.text Gi&aacute; ni&ecirc;m y&#x1EBF;t:
            span.amount1 29.990.000&dstrok;
          p
          p.price
            span.text Gi&aacute; &#x1B0;u &dstrok;&atilde;i:
            span.amount 23.790.000&dstrok;
            span.amount3 [Gi&aacute; &dstrok;&atilde; bao g&#x1ED3;m 10% VAT]
          .product-content
          form.cart(method='post', enctype='multipart/form-data')
            button.single_add_to_cart_button.button.alt(type='submit', title='Add to Cart')
              i.fa.fa-shopping-cart(aria-hidden='true')
              | &Dstrok;&#x1EB6;T NGAY
              p.bottom-text Giao h&agrave;ng t&#x1EAD;n n&#x1A1;i ho&#x1EB7;c nh&#x1EAD;n t&#x1EA1;i c&#x1EED;a h&agrave;ng
      .col-md-12.col-sm-12.col-xs-12
        .product-details-tab
          // Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#ProductDescription', role='tab', data-toggle='tab') Th&ocirc;ng s&#x1ED1; k&#x1EF9; thu&#x1EAD;t
            li(role='presentation')
              a(href='#MoreInformation', role='tab', data-toggle='tab') M&ocirc; t&#x1EA3; s&#x1EA3;n ph&#x1EA9;m
            li(role='presentation')
              a(href='#Reviews', role='tab', data-toggle='tab') H&#x1ECF;i &dstrok;&aacute;p
          // Tab panes
          .tab-content
            #ProductDescription.tab-pane.active(role='tabpanel')
              p.product-details-content
                | TH&Ocirc;NG S&#x1ED0; K&#x1EF8; THU&#x1EAC;T
              p
                | CPU: AMD Ryzen 5 5600H
              p
                | Card &dstrok;&#x1ED3; h&#x1ECD;a: NVIDIA GeForce RTX 3050
              p
                | B&#x1ED9; nh&#x1EDB; RAM: 16 GB LPDDR4X
              p
                | &#x1ED4; c&#x1EE9;ng SSD: 512GB SSD NVMe PCIe Gen 3
              p M&agrave;n h&igrave;nh: 14&quot; 2.8K OLED, 90Hz
              p
                | H&#x1EC7; &dstrok;i&#x1EC1;u h&agrave;nh: Windows 11 64 Bit
              p
                | Wireless Lan: 802.11ax 2&times;2 Wi-Fi
              p
                | B&agrave;n ph&iacute;m: Backlight Keyboard
              p
                | K&iacute;ch th&#x1B0;&#x1EDB;c: 31.74 x 22.85 x 1.79 ~ 1.79 cm
              p
                | Tr&#x1ECD;ng l&#x1B0;&#x1EE3;ng: 1.45kg
              p
                | B&#x1EA3;o h&agrave;nh: 24 th&aacute;ng Ch&iacute;nh H&atilde;ng
            #MoreInformation.tab-pane(role='tabpanel')
              p.product-details-content ASUS VIVOBOOK PRO 14X M7400QC-KM013W 
              p
                | Asus VivoBook Pro 14X M7400QC-KM013W l&agrave; d&ograve;ng s&#x1EA3;n ph&#x1EA9;m &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1ECB;nh v&#x1ECB; n&#x1EB1;m gi&#x1EEF;a VivoBook Pro v&agrave; ZenBook. H&#x1B0;&#x1EDB;ng &dstrok;&#x1EBF;n &dstrok;&#x1ED1;i t&#x1B0;&#x1EE3;ng ng&#x1B0;&#x1EDD;i s&aacute;ng t&#x1EA1;o n&#x1ED9;i dung tr&#x1EBB; tu&#x1ED5;i, vlogger ho&#x1EB7;c nh&#x1EEF;ng ngh&#x1EC7; s&itilde; t&#x1EF1; do. B&#x1EC1; m&#x1EB7;t c&#x1EE7;a m&aacute;y &dstrok;&#x1B0;&#x1EE3;c ho&agrave;n thi&#x1EC7;n v&#x1EDB;i h&#x1ECD;a ti&#x1EBF;t d&#x1EC7;t cho c&#x1EA3;m gi&aacute;c nh&#x1B0;. nh&#x1EEF;ng t&#x1EDD; gi&#x1EA5;y nh&aacute;m c&#x1EF1;c m&#x1ECB;n v&agrave; h&#x1EA1;n ch&#x1EBF; t&#x1ED1;i &dstrok;a vi&#x1EC7;c &dstrok;&#x1EC3; l&#x1EA1;i d&#x1EA5;u tay. Thi&#x1EBF;t k&#x1EBF; c&#x1EE7;a m&aacute;y c&utilde;ng c&#x1EF1;c k&igrave; tr&#x1EBB; trung, khu v&#x1EF1;c b&agrave;n ph&iacute;m &dstrok;&#x1B0;&#x1EE3;c m&atilde; m&agrave;u r&otilde; r&agrave;ng cho t&#x1EEB;ng khu v&#x1EF1;c ph&iacute;m. Touchpad k&iacute;ch th&#x1B0;&#x1EDB;c l&#x1EDB;n t&iacute;ch h&#x1EE3;p ph&iacute;m xoay ASUS DialPad v&#x1EDB;i ch&#x1EE9;c n&abreve;ng t&#x1B0;&#x1A1;ng t&#x1EF1; nh&#x1B0; con xoay v&#x1EAD;t l&iacute; tr&ecirc;n m&aacute;y Studiobook.
              img(src='images/product-detail-10.jpg', alt='')
              p
                | M&agrave;n h&igrave;nh s&#x1EBD; l&agrave; th&#x1EE9; l&agrave;m ng&#x1B0;&#x1EDD;i d&ugrave;ng h&agrave;i l&ograve;ng khi s&#x1EED; d&#x1EE5;ng c&ocirc;ng ngh&#x1EC7; OLED. K&iacute;ch th&#x1B0;&#x1EDB;c 14 inches, &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i 2880 x 1800. T&#x1EC9; l&#x1EC7; 16:10 th&iacute;ch h&#x1EE3;p chu&#x1EA9;n thi&#x1EBF;t k&#x1EBF; v&agrave; t&#x1EA7;n s&#x1ED1; qu&eacute;t l&ecirc;n &dstrok;&#x1EBF;n 90Hz. V&#x1EC1; c&#x1ED5;ng k&#x1EBF;t n&#x1ED1;i, m&aacute;y c&oacute; &dstrok;&#x1EA7;y &dstrok;&#x1EE7; nh&#x1EEF;ng c&#x1ED5;ng k&#x1EBF;t n&#x1ED1;i m&agrave; ng&#x1B0;&#x1EDD;i d&ugrave;ng l&agrave;m s&aacute;ng t&#x1EA1;o n&#x1ED9;i dung c&#x1EA7;n s&#x1EED; d&#x1EE5;ng. USB Type A, c&#x1ED5;ng USB Type C, c&#x1ED5;ng HDMI v&agrave; c&#x1ED5;ng &dstrok;&#x1EA7;u &dstrok;&#x1ECD;c th&#x1EBB; nh&#x1EDB;. Cu&#x1ED1;i c&ugrave;ng c&#x1EA5;u h&igrave;nh c&#x1EE7;a m&aacute;y s&#x1EBD; &dstrok;&#x1EE7; &dstrok;&#x1EC3; &dstrok;&aacute;p &#x1EE9;ng nhu c&#x1EA7;u. Khi trang b&#x1ECB; CPU AMD Ryzen 5000 H-Series, &dstrok;&#x1ED3; h&#x1ECD;a AMD Radeon, l&#x1B0;u tr&#x1EEF; SSD PCIe v&agrave; b&#x1ED9; nh&#x1EDB; 8GB DDR4 t&#x1ED1;c &dstrok;&#x1ED9; cao.
                | NVIDIA RTX 30 SERIES &ndash; SINH RA &Dstrok;&#x1EC2; S&Aacute;NG T&#x1EA0;O
                | Ngo&agrave;i ra, VivoBook Pro 14X OLED &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; &dstrok;&#x1ED3; h&#x1ECD;a NVIDIA GEFORCE RTX 3050 m&#x1EDB;i nh&#x1EA5;t gi&uacute;p chi&#x1EBF;c m&aacute;y &dstrok;&#x1EA1;t chu&#x1EA9;n NVIDIA Studio. Hi&#x1EC7;u n&abreve;ng c&#x1EE7;a th&#x1EBF; h&#x1EC7; 30 Series c&oacute; th&#x1EC3; n&oacute;i l&agrave; g&#x1EA5;p &dstrok;&ocirc;i so v&#x1EDB;i th&#x1EBF; h&#x1EC7; 20 Series gi&uacute;p vi&#x1EC7;c ch&#x1EC9;nh s&#x1EED;a m&ocirc; h&igrave;nh 3D ph&#x1EE9;c t&#x1EA1;p, ho&#x1EB7;c video &dstrok;&#x1ECB;nh d&#x1EA1;ng RAW &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i 8K chu&#x1EA9;n HDR nhanh h&#x1A1;n bao gi&#x1EDD; h&#x1EBF;t. NVIDIA RTX 30 Sries &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o ra &dstrok;&#x1EC3; &dstrok;&aacute;p &#x1EE9;ng nhu c&#x1EA7;u c&#x1EE7;a ng&#x1B0;&#x1EDD;i thi&#x1EBF;t k&#x1EBF; v&agrave; &dstrok;&acirc;y l&agrave; gi&#x1EA3;i ph&aacute;p to&agrave;n di&#x1EC7;n, &#x1B0;u vi&#x1EC7;t nh&#x1EA5;t th&#x1EBF; gi&#x1EDB;i hi&#x1EC7;n nay.
                img(src='images/product-detail-11.png', alt='')
              p
                | Trang b&#x1ECB; vi x&#x1EED; l&iacute; AMD Ryzen 5000 H-Series m&#x1EA1;nh m&#x1EBD;. K&#x1EBF;t h&#x1EE3;p c&ugrave;ng b&#x1ED9; nh&#x1EDB; DDR4 t&#x1ED1;c &dstrok;&#x1ED9; cao v&agrave; l&#x1B0;u tr&#x1EEF; SSD PCIe c&#x1EF1;c nhanh. VivoBook Pro 14X trang b&#x1ECB; hi&#x1EC7;u n&abreve;ng c&#x1EF1;c cao &dstrok;&#x1EC3; x&#x1EED; l&iacute; t&aacute;c v&#x1EE5; li&ecirc;n quan &dstrok;&#x1EBF;n s&aacute;ng t&#x1EA1;o n&#x1ED9;i dung, kh&ocirc;ng ph&#x1EA3;i ng&#x1EAB;u nhi&ecirc;n m&agrave; ASUS &dstrok;em l&#x1EA1;i l&ecirc;n &dstrok;&#x1EBF;n AMD Ryzen 5 5600H. Ch&iacute;p x&#x1EED; l&yacute; g&#x1EA5;p &dstrok;&ocirc;i b&#x1ED9; nh&#x1EDB; &dstrok;&#x1EC7;m so v&#x1EDB;i th&#x1EBF; h&#x1EC7; tr&#x1B0;&#x1EDB;c cho hi&#x1EC7;u n&abreve;ng v&#x1B0;&#x1EE3;t tr&#x1ED9;i. Ti&#x1EBF;t ki&#x1EC7;m th&#x1EDD;i gian &dstrok;&#x1EC3; x&#x1EED; l&iacute; t&aacute;c v&#x1EE5; n&abreve;ng &dstrok;&#x1EC3; ng&#x1B0;&#x1EDD;i d&ugrave;ng chuy&ecirc;n t&acirc;m ho&agrave;n to&agrave;n v&agrave;o c&aacute;c &yacute; t&#x1B0;&#x1EDF;ng bay b&#x1ED5;ng c&#x1EE7;a m&igrave;nh.
                | ASUS DIALPAD
                | L&#x1EA5;y c&#x1EA3;m &#x1EE9;ng t&#x1EEB; nh&#x1EEF;ng nh&agrave; s&aacute;ng t&#x1EA1;o n&#x1ED9;i dung chuy&ecirc;n nghi&#x1EC7;p. V&#x1EDB;i nh&#x1EEF;ng thi&#x1EBF;t b&#x1ECB; b&agrave;n ch&#x1EC9;nh s&#x1EED;a n&#x1ED5;i ti&#x1EBF;ng v&agrave; c&utilde;ng c&#x1EF1;c k&igrave; &dstrok;&#x1EAF;t &dstrok;&#x1ECF;. ASUS DialPad &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o ra &dstrok;&#x1EC3; n&acirc;ng cao c&aacute;ch b&#x1EA1;n l&agrave;m vi&#x1EC7;c trong qu&aacute; tr&igrave;nh s&aacute;ng t&#x1EA1;o.
                | Profile th&iacute;ch &#x1EE9;ng v&#x1EDB;i ph&#x1EA7;n m&#x1EC1;m c&#x1EE7;a b&ecirc;n th&#x1EE9; 3 (Adobe)
                | &Dstrok;i&#x1EC1;u ch&#x1EC9;nh tham s&#x1ED1; &dstrok;&#x1EBF;n m&#x1EE9;c chi ti&#x1EBF;t v&agrave; tr&#x1EF1;c quan nh&#x1EA5;t
                | T&#x1B0;&#x1A1;ng th&iacute;ch v&#x1EDB;i Surface Dial
              p H&#x1EC6; TH&#x1ED0;NG T&#x1EA2;N NHI&#x1EC6;T K&Eacute;P
              | VivoBook Pro 14X OLED M3401 lu&ocirc;n gi&#x1EEF; &dstrok;&#x1B0;&#x1EE3;c hi&#x1EC7;u n&abreve;ng &#x1EDF; m&#x1EE9;c t&#x1ED1;i &dstrok;a nh&#x1EDD; t&#x1EA3;n nhi&#x1EC7;t. ASUS IceCool Plus ti&ecirc;n ti&#x1EBF;n. T&#x1EA3;n nhi&#x1EC7;t n&agrave;y bao g&#x1ED3;m 2 qu&#x1EA1;t 83 c&aacute;nh k&iacute;ch th&#x1B0;&#x1EDB;c l&#x1EDB;n. K&#x1EBF;t h&#x1EE3;p c&ugrave;ng 2 &#x1ED1;ng d&#x1EAB;n nhi&#x1EC7;t v&agrave; 2 c&#x1EED;a tho&aacute;t gi&oacute;. Ng&#x1B0;&#x1EDD;i s&#x1EED; d&#x1EE5;ng c&utilde;ng c&oacute; th&#x1EC3; linh ho&#x1EA1;t l&#x1EF1;a ch&#x1ECD;n gi&#x1EEF;a 3 ch&#x1EBF; &dstrok;&#x1ED9;. L&agrave;m m&aacute;t Performance/Standard/Whisper d&#x1EF1;a tr&ecirc;n nhu c&#x1EA7;u th&#x1EF1;c t&#x1EBF; s&#x1EED; d&#x1EE5;ng c&#x1EE7;a m&igrave;nh.
              img(src='images/product-detail-12.png', alt='')
              p
              p
                | WEBCAM V&#x1EDA;I N&#x1EAE;P CHE V&#x1EAC;T L&Yacute; T&Abreve;NG T&Iacute;NH B&#x1EA2;O M&#x1EAC;T
              p
                | &Dstrok;&#x1EC3; n&acirc;ng cao b&#x1EA3;o m&#x1EAD;t cho c&aacute; nh&acirc;n, VivoBook Pro 14x trang b&#x1ECB; th&ecirc;m m&#x1ED9;t t&#x1EA5;m che webcam v&#x1EAD;t l&iacute;, ng&#x1B0;&#x1EDD;i s&#x1EED; d&#x1EE5;ng c&oacute; th&#x1EC3; g&#x1EA1;t t&#x1EA5;m che n&agrave;y &dstrok;&#x1EC3; c&oacute; th&#x1EC3; ng&abreve;n ng&#x1EEB;a 100% nguy h&#x1EA1;i t&#x1EEB; vi&#x1EC7;c m&aacute;y t&iacute;nh x&aacute;ch tay b&#x1ECB; th&acirc;m nh&#x1EAD;p t&#x1EEB; b&ecirc;n ngo&agrave;i.
              p B&Agrave;N PH&Iacute;M V&#x1EDA;I THI&#x1EBE;T K&#x1EBE; N&#x1ED4;I B&#x1EAC;T
              | H&atilde;y qu&ecirc;n nh&#x1EEF;ng &dstrok;i&#x1EC1;u t&#x1EA7;m th&#x1B0;&#x1EDD;ng &dstrok;&#x1EC3; &dstrok;&#x1EBF;n v&#x1EDB;i Vivobook. Logo ASUS 3D &dstrok;&#x1ED9;c nh&#x1EA5;t v&#x1EDB;i h&#x1ECD;a ti&#x1EBF;t h&igrave;nh ch&#x1EEF; V &dstrok;&#x1B0;&#x1EE3;c anode h&oacute;a v&agrave; k&#x1EBF;t c&#x1EA5;u x&uacute;c gi&aacute;c, &dstrok;em l&#x1EA1;i s&#x1EF1; ph&#x1EA5;n kh&iacute;ch ngay c&#x1EA3; tr&#x1B0;&#x1EDB;c khi b&#x1EA1;n m&#x1EDF; m&aacute;y. C&ugrave;ng kh&aacute;m ph&aacute; thi&#x1EBF;t k&#x1EBF; c&aacute; t&iacute;nh b&ecirc;n trong v&#x1EDB;i ph&iacute;m Enter v&agrave; vi&#x1EC1;n n&#x1ED5;i b&#x1EAD;t chi&#x1EBF;m tr&#x1ECD;n s&#x1EF1; ch&uacute; &yacute;.
              p
              p N&Uacute;T NGU&#x1ED2;N T&Iacute;CH H&#x1EE2;P C&#x1EA2;M BI&#x1EBE;N V&Acirc;N TAY
              | Ph&iacute;m ngu&#x1ED3;n gi&#x1EDD; &dstrok;&acirc;y &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c t&iacute;ch h&#x1EE3;p c&#x1EA3;m bi&#x1EBF;n v&acirc;n tay m&#x1ED9;t ch&#x1EA1;m. Gi&uacute;p vi&#x1EC7;c m&#x1EDF; m&aacute;y c&utilde;ng nh&#x1B0; &dstrok;&abreve;ng nh&#x1EAD;p s&#x1EBD; nhanh ch&oacute;ng h&#x1A1;n bao gi&#x1EDD; h&#x1EBF;t
              p
              p PANEL M&Agrave;N H&Igrave;NH OLED T&#x1ED0;T NH&#x1EA4;T D&Agrave;NH CHO THI&#x1EBE;T K&#x1EBE;
              p
                | Trang b&#x1ECB; m&agrave;n h&igrave;nh OLED k&iacute;ch th&#x1B0;&#x1EDB;c 14 inches &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i 2880 x 1800. T&#x1EC9; l&#x1EC7; 16:10 th&iacute;ch h&#x1EE3;p &dstrok;&#x1EC3; l&agrave;m vi&#x1EC7;c v&agrave; t&#x1EA7;n s&#x1ED1; qu&eacute;t 90Hz. T&#x1EA7;n s&#x1ED1; qu&eacute;t nhanh nh&#x1EA5;t c&#x1EE7;a m&agrave;n h&igrave;nh OLED tr&ecirc;n m&aacute;y t&iacute;nh x&aacute;ch tay. VivoBook Pro 14X OLED mang &dstrok;&#x1EBF;n m&#x1ED9;t &dstrok;&#x1EA1;i ti&#x1EC7;c v&#x1EC1; th&#x1ECB; gi&aacute;c cho ng&#x1B0;&#x1EDD;i l&agrave;m s&aacute;ng t&#x1EA1;o n&#x1ED9;i dung.
                | D&itilde; nhi&ecirc;n m&agrave;n h&igrave;nh n&agrave;y c&utilde;ng s&#x1EDF; h&#x1EEF;u &dstrok;&#x1EA7;y &dstrok;&#x1EE7; nh&#x1EEF;ng &dstrok;&#x1EB7;c &dstrok;i&#x1EC3;m v&#x1B0;&#x1EE3;t tr&#x1ED9;i c&#x1EE7;a c&ocirc;ng ngh&#x1EC7; OLED.
                | &Dstrok;&#x1ED9; ch&iacute;nh x&aacute;c m&agrave;u c&#x1EF1;c cao.
                | Kh&ocirc;ng gian m&agrave;u c&#x1EF1;c r&#x1ED9;ng.
                | S&#x1EAF;c n&eacute;t &#x1EDF; m&#x1ECD;i m&#x1EE9;c &dstrok;&#x1ED9; s&aacute;ng.
                | H&#x1ED7; tr&#x1EE3; n&#x1ED9;i dung HDR.
            #Reviews.tab-pane(role='tabpanel')
              p.product-details-content
              .comment-section
                .section-heading
                  h3 03 Comments
                ul.media-list
                  li.media
                    .media-left
                      a(href='#', title='Peter Hein')
                        img(src='images/avtar-1.jpg', alt='comment', width='108', height='108')
                    .media-body
                      .media-content
                        h4.media-heading
                          | Nguyen Van Hoang
                          span 6 August, 2022
                        a(href='#', title='Reply') Tr&#x1EA3; l&#x1EDD;i
                        p M&agrave;u X&aacute;m v&#x1EDB;i m&agrave;u b&#x1EA1;c c&oacute; chi nh&aacute;nh n&agrave;o t&#x1EA1;i s&agrave;i g&ograve;n v&#x1EAD;y shop
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;.
                        p
                  li.media.media-even
                    .media-left
                      a(href='#', title='William Stark')
                        img(src='images/avtar-2.jpg', alt='comment', width='108', height='108')
                    .media-body
                      .media-content
                        h4.media-heading
                          | Admin
                          span 6 August, 2022
                        a(href='#', title='Reply') Tr&#x1EA3; l&#x1EDD;i
                        p
                          | Ch&agrave;o Anh/ch&#x1ECB;,
                          | Hi&#x1EC7;n s&#x1EA3;n ph&#x1EA9;m n&agrave;y b&ecirc;n em &dstrok;ang ch&#x1EC9; c&ograve;n m&agrave;u Silver!
                  li.media
                    .media-left
                      a(href='#', title='Andrew Smith')
                        img(src='images/avtar-1.jpg', alt='comment', width='108', height='108')
                    .media-body
                      .media-content
                        h4.media-heading
                          | Thinh
                          span 2 August, 2022
                        a(href='#', title='Reply') Tr&#x1EA3; l&#x1EDD;i
                        p Ko bi&#x1EBF;t shop c&oacute; nh&#x1EAD;n thu c&utilde; l&ecirc;n &dstrok;&#x1EDD;i m&aacute;y sao &#x1EA1;
              .comment-form
                .section-heading
                  h3 B&igrave;nh Lu&#x1EAD;n
                form.row
                  .form-group.col-md-6
                    input.form-control(type='text', required='', placeholder='Your Name *')
                  .form-group.col-md-6
                    input.form-control(type='text', required='', placeholder='Your EMail *')
                  .form-group.col-md-12
                    textarea.form-control(placeholder='Your Comment', rows='6')
                  input(type='submit', title='Post Comment', value='Đăng Bình Luận', name='Post Comment')
    // Container /-
    .section-padding
  // Product Detail /-
  // Latest Product
  #latest-product.latest-product.container-fluid.no-padding.woocommerce
    // Container
    .container
      // Section Header
      .section-header
        h3 S&#x1EA3;n ph&#x1EA9;m li&ecirc;n quan
      // Section Header /-
      ul.products
        li.product
          a(href='product-detail.html', title='Prouct')
            span.product-img
              img(src='images/product-5.jpg', width='270', height='360', alt='product')
            h3
              | Laptop Gaming Acer Aspire 7 A715-42G-R05G GTX 1650 4GB Ryzen 5 5500U 8GB 512GB 15.6 FHD 144Hz IPS Win 11
            span.price
              span.amount 15,990,000 &#x20AB;
          p.hover-content
            a.button.product_type_simple.add_to_cart_button(title='Add To Cart', href='#')
              i.fa.fa-shopping-cart(aria-hidden='true')
              | Add to cart
        li.product
          a(href='product-detail.html', title='Prouct')
            span.product-img
              img(src='images/product-6.jpg', width='270', height='360', alt='product')
            h3
              | Laptop MSI GP66 Leopard 11UE-643VN (i7-11800H; 16GB; 512GB SSD; RTX 3060/6GB; 15.6&quot; QHD; Win10; &Dstrok;en)
            span.price
              span.amount
                | 34,990,000 &#x20AB;
          p.hover-content
            a.button.product_type_simple.add_to_cart_button(title='Add To Cart', href='#')
              i.fa.fa-shopping-cart(aria-hidden='true')
              | Add to cart
        li.product
          a(href='product-detail.html', title='Prouct')
            span.product-img
              img(src='images/product-2.jpg', width='270', height='360', alt='product')
            span.onsale 20%
            h3
              | Laptop Gaming Asus ROG Strix G15 G513IM-HN008W AMD Ryzen 7 4800H 16GB 512GB SSD RTX3060 6G 15.6&quot; IPS FHD 144Hz WIN 11
            span.price
              span.amount
                | 27,990,000 &#x20AB;
              del
                | 34,990,000 &#x20AB;
          p.hover-content
            a.button.product_type_simple.add_to_cart_button(title='Add To Cart', href='#')
              i.fa.fa-shopping-cart(aria-hidden='true')
              | Add to cart
        li.product
          a(href='product-detail.html', title='Prouct')
            span.product-img
              img(src='images/product-7.jpg', width='270', height='360', alt='product')
            h3
              | Laptop Gaming Asus TUF A15 FA507RM-HN018W RTX 3060 6GB AMD Ryzen 7 6800H 8GB 512GB 15.6&Prime; FHD IPS 144Hz
            span.price
              span.amount
                | 28,490,000 &#x20AB;
          p.hover-content
            a.button.product_type_simple.add_to_cart_button(title='Add To Cart', href='#')
              i.fa.fa-shopping-cart(aria-hidden='true')
              | Add to cart
    // Container /-
  // Latest Product /-
// Footer Main
footer.footer-main.container-fluid.no-padding
  .container
    .row
      .footer-header
      // Widget About
      aside.col-md-4.col-sm-6.col-xs-6.ftr-widget.about-widget
        h3 About The Store
        p TechStore created by student group 3 at Ho Chi Minh University of Science 
        p
          i.fa.fa-phone(aria-hidden='true')
          a(title='phone', href='tel: +84355881421') 0355881421
        p
          i.fa.fa-envelope-o(aria-hidden='true')
          a(title='@gmail', href='mailto:pnphuc20@clc.fitus.edu.vn') pnphuc20@clc.fitus.edu.vn
        p
          i.fa.fa-map-marker(aria-hidden='true')
          a(title='map', href='https://bom.so/7RriJJ') 277 Nguy&#x1EC5;n V&abreve;n C&#x1EEB; Ph&#x1B0;&#x1EDD;ng 4, Qu&#x1EAD;n 5, Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh
      // Widget About /-
      // Widget Links
      aside.col-md-2.col-sm-6.col-xs-6.ftr-widget.link-widget
        h3 Useful links
        ul
          li
            a(href='#', title='Abou Us') About Us
          li
            a(href='#', title='Our Products') Our Products
          li
            a(href='#', title='Customer Support') Customer Support
          li
            a(href='#', title='Our Sitemap') Our Sitemap
          li
            a(href='#', title='Contact Us') Contact Us
      // Widget Links /-
      // Widget Contact
      aside.col-md-3.col-sm-6.col-xs-6.ftr-widget.contact-widget
        h3 Contact Us
        ul
          li
            a(href='#', title='Product Recall') Product Recall
          li
            a(href='#', title='Gift Vouchers') Gift Vouchers
          li
            a(href='#', title='Returns & Exchange') Returns &amp; Exchange
          li
            a(href='#', title='Shipping Options') Shipping Options
          li
            a(href='#', title='Help & FAQs') Help &amp; FAQs
      // Widget Contact /-
      // Widget Isnstagram
      aside.col-md-3.col-sm-6.col-xs-6.ftr-widget.instagram-widget
        h3 Connect with us
        ul
          .footer-social
            ul
              li
                a(href='#', title='Facebook')
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a(href='#', title='Twitter')
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a(href='#', title='Google-plus')
                  i.fa.fa-google-plus(aria-hidden='true')
              li
                a(href='#', title='linkedin')
                  i.fa.fa-linkedin(aria-hidden='true')
      // Widget Newsletter /-
// Footer Main /-
// Bottom Footer
.bottom-footer.container-fluid.no-padding
  .container
    .footer-content
      .footer-copyright
        p &copy; Copyright 2022 - All rights reserved
// Bottom Footer /-
// JQuery v1.11.3
script(src='js/jquery.min.js')
// Library - Js
script(src='libraries/lib.js')
// Bootstrap JS File v3.3.5
script(src='libraries/jquery.countdown.min.js')
script(src='libraries/lightslider-master/lightslider.js')
script(src='libraries/slick/slick.min.js')
// Library - Google Map API
script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
// Library - Theme JS
script(src='js/functions.js')
