extends ../layout/template.pug

block content

	.center
		h1.login TechStore
		h3 Log into your account
		form(method='post')
			.form_group
			input(type='text' required='')
			span
			label Username
			.form_group
			input(type='password' required='')
			span
			label Password
			.pass Forgot Password?
			input(type='submit' value='Login')
			.signup_link
			| Not a member? 
			a(href='') Signup
