link(rel='stylesheet', href='/styles/style.css')
h2 TechStore: Sign in/up Form
#container.container
  .form-container.sign-up-container
    form(action='/user/signup', method='POST')
      h1(style='margin-bottom: 20px;') Create Account
      // <div class="social-container">
      // <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      // <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      // <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      // </div>
      // <span>or use your email for registration</span>
      input(name='name',type='text', placeholder='Name')
      if errors 
        if errors.username
          span(style='color: red') #{errors.username}
      input(name='email',type='email', placeholder='Email')
      if errors 
        if errors.email
          span(style='color: red') #{errors.email}
      input(name='pass',type='password', placeholder='Password')
      if errors 
        if errors.password
          span(style='color: red') #{errors.password}
      button Sign Up
  .form-container.sign-in-container
    form(action='/user/login', method='POST')
      h1(style='margin-bottom: 20px;') Sign in
      // <div class="social-container">
      // <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      // <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      // <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      // </div>
      // <span>or use your account</span>
      input(name='email',type='email', placeholder='Email')
      input(name='pass',type='password', placeholder='Password')
      if error_login
        span(style='color: red') #{error_login}
      a(href='#') Forgot your password?
      button Sign In
  .overlay-container
    .overlay
      .overlay-panel.overlay-left
        h1 Welcome Back!
        p To keep connected with us please login with your personal info
        button#signIn.ghost Sign In
      .overlay-panel.overlay-right
        h1 Hello, Friend!
        p Enter your personal details and start journey with us
        button#signUp.ghost Sign Up
script(src='/source/ValidatorLogin.js')

