extends ../layout/template.pug

block content

		.center
		h1 Sign up now
		p.desc Happiness is not in money, but in shopping &#x2764;&#xFE0F;&#x2764;&#xFE0F;
		form(method='post')
		.form_group
			input(type='text' required='')
			span
			label Username
		.form_group
			input(type='email' required='')
			span
			label Email
		.form_group
			input(type='password' required='')
			span
			label Password
		.form_group
			input(type='password' required='')
			span
			label Confirm Password
		input(type='submit' value='Sign up')
