@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}
.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 360px;
    min-height: 100px;
    text-align: center;
    align-self: center;
    box-shadow: rgba(51, 62, 73, 0.1) 0px 2px 5px 0px;
    padding: 32px 24px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 50px;
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.form button
{
  background-color:black;
  color:white;
  display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
  cursor: pointer;
}
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-group i 
{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-group small
{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-message {
    text-align: left;
}

.form-control {
    height: 40px;
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    margin-bottom: 30px ;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-image: initial;
    border-radius: 4px;
    padding: 10px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.spacer {
    margin-top: 36px;
}

#error {
    color: #e74c3c;
}

.title-login {
    color: #DC143C;
    margin-left: 90px;
}

.title {
    color: #DC143C;
}


